.pLine {
    width: 100%;
    margin-top: -32.5%;
}
.pLine *{
    box-sizing: border-box;
}
.pLine li {
    position: relative;
    width: 25vw;
    height: 40vw;
    max-width: 275px;
    max-height: 440px;
    margin-left: 20%;
    border-left: 1px solid #79d1cb;
    border-bottom: 1px solid #79d1cb;
}

.pLine li .img {
    width: 28vw;
    height: 28vw;
    max-width: 308px;
    max-height: 308px;
    position: absolute;
    bottom: -36%;
    left: 100%;
    border: 1px solid #79d1cb;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 9999;
}

.pLine li .imgInd {
    z-index: 99 !important;
}
/* 闪烁的动画 */
.pLine li .san {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    animation:mymove 5s infinite;
	-webkit-animation:mymove 5s infinite; /* Safari and Chrome */
}
.pLine li .san1{
    top: -35%;
}
@keyframes mymove
{
	0%{width:0;}
	50%{width: 60%;}
	100%{width: 0}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
	0%{width:0;}
	50%{width: 60%;}
	100%{width: 0}
}


.pLine li .san .img1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

.pLine li .san .img2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 50;
}




.pLine li .txt {
    height: 2vw;
    max-height: 22px;
    position: absolute;
    bottom: -50%;
    left: 82.5%;

}




.pLine .bNone {
    border-bottom: none;
}

.pLine .last {
    width: calc(30% + 1px);
    height: 5vw;
    max-height: 55px;
    margin-left: 20%;
    border: none;
    /* border-top: 1px solid #79d1cb; */
    margin-bottom: 7vw;
    box-sizing: border-box;
    max-width: 800px;
}
.pLine .last:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: -60%;
    border-top: 1px solid #79d1cb;
    border-right: 1px solid #79d1cb;
}

.pLine .last>div {
    position: absolute;
    bottom: -130%;
    right: calc(-7% + 1px);
    width: 4vw;
    height: 4vw;
    max-width: 44px;
    max-height: 44px;
    border: 1px solid #79d1cb;
    border-radius: 50%;
    box-sizing: border-box;
    background: #79d1cb;
}

.pLine .last>div>div {
    position: absolute;
    width: 60%;
    height: 60%;
    max-width: 22px;
    max-height: 22px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background: white;
}

.rowDl {
    position: relative;
    width: 100%;
    min-height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.rowDl .cLine{
    position: absolute;
    left: 0;
    width: 50%;
    height: 5vw;
    max-height: 55px;
    border-right: 1px solid #79d1cb;
}
.rowDl .dl {
    width: 80%;
    box-sizing: border-box;
    border-top: 1px solid #79d1cb;
    display: flex;
}

.rowDl .dl .dt {
    flex: 1;
    height: 5vw;
    max-height: 55px;
}

.rowDl .dl .dt:first-child {
    border-left: 1px solid #79d1cb;
}

.rowDl .dl .dt:last-child {
    border-right: 1px solid #79d1cb;
}

.rowPic {
    display: flex;
    padding: 0 5%;
}

.rowPic>div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowPic img {
    width: 80%;
}